.search-bar {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.favorites-body {
    min-height: 70vh;
}

.search-bar .form-control {
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
}

.btn-search {
    background-color: rgb(103, 147, 174);
    color: black;
    padding: 5px 11px;
    height: 100%;
    width: 100px;
    border-radius: 0 4px 4px 0;
}

.btn-search:hover {
    background-color: rgb(135, 193, 229);
    color: aliceblue;
}