.FilterListOffer-box {
    position: relative;
    left: 175px;
    border: 1px solid rgb(103, 147, 174);;
    border-radius: 4px;
    color: black;
    width: 15%;
    height: fit-content;
    overflow: hidden;
    opacity: 0.85; 
    width: 50%;
    margin-top: 33px;
    
    
}
.FilterListOffer-box h3{
    font-size: 1rem;
    color: rgb(103, 147, 174);
    font-weight: bold;
    margin-top: 15px;
}

.titulofiltro {
color:rgb(143, 172, 190); ;
}