.form-container {
    margin: 0 auto;
    position: relative;
    height: fit-content;
    width: 60%;
   
}

.form-box {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border: 1px solid rgb(103, 147, 174);
    border-radius: 4px;
    padding: 20px;
    justify-content: center;
}

.form-header {
    text-align: center;
}

.form-header h2 {
    font-size: 3.5rem;
    color: rgb(103, 147, 174);
    width: 100vw; /* Ocupar el ancho completo de la ventana */
    position: relative;
    left: 50%; /* Centrar en la página */
    transform: translateX(-50%); /* Ajustar el centrado */
    text-align: center;
    background-color: #f0f4f8; /* Fondo suave para hacer que destaque */
    padding: 20px 0; /* Espaciado alrededor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Añadir una sombra suave */
}

.form-header span {
    font-size: 1rem;
    color: rgba(33, 37, 41, 0.75);
    
}

.button-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.text-area {
    position: relative;
    height: 200px;
    max-height: 200px;
    width: 100%;
    resize: none;
}

.btn-submit {
    background-color: rgb(103, 147, 174);
    color: white;
}

.btn-submit:hover {
    background-color: rgb(135, 193, 229);
    color: white;
}



.form-container .form-box label {
    color: rgb(103, 147, 174)!important; 
}