.container-list {
    max-width: 1200px; 
    margin: auto; 
    padding: 0 15px; 
}

.header-search-container {
    position: relative;
    right: 45px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box {
    text-align: center; 
    margin-bottom: 1rem;
}

.header-box h2 {
    font-size: 3rem;
    margin: 0; 
}

.header-box h3 {
    color: rgb(103, 147, 174);
    font-size: 1.8rem;
    margin: 0; 
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 50px auto; 
    margin: 0 auto;
    max-width: 1100px; 
    margin-top: -30px;
    margin-bottom: -50px;
    
}

.search-bar .form-control {
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    padding: 10px; 
    border: solid rgb(103, 147, 174);
}

.btn-search {
    background-color: rgb(103, 147, 174);
    color: white;
    padding: 10px 20px;
    height: auto;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.btn-search:hover {
    background-color: rgb(135, 193, 229);
    color: aliceblue;
}


.fw-bold .titulo1 {
    color: rgb(103, 147, 174);
}
